*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
 body{
    background-color:beige;
      
   
} 
header{
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap ;
    height:100px;
    width: 100%;
    background-color: antiquewhite;
    align-items: center;
    box-shadow: 0px 3px 5px grey;
    position: fixed;
    
} 

ul{
    display:inline-flex;
justify-content: space-evenly;
align-content:center;
align-items: center;
flex-wrap:nowrap ;
flex-direction: row;
}

li{
    margin:10px;
    list-style-type: none;   
}
#search{
     height: 40px;
    width:500px; 
    border-radius: 20px;
    text-align:center;
}
svg{
    margin-top: 100px;
    margin-left: 20px;

}
header a{
    text-decoration: none;
    color: black;
    font-size: 1em;
}
a:hover{
    color: blue;
}
button{
    height: 30px;
    width: 60px;
    border-radius: 10px;
}
#sign{
    background-color: black;
    color: aliceblue;
}
#sign:hover{
    background-color: gray;
}
#login:hover{
background-color: darkgrey;
}
.material-symbols-outlined:hover{
    color: darkcyan;
}
#search:hover{
    background-color: darkgrey;
}
.img{
    display: flex;
    justify-content: center;
    margin-top: 5px;   
}
.text{
    margin-left: 100px;
    margin-top: 50px;
}
h1,h4{
    line-height:1.5em;
    font-family:'Times New Roman', Times, serif;
}
h4{
    color: darkgray;
}
.gallery{
    display: flex;
    justify-content:space-evenly;
    align-items: flex-start;
    margin-top: 40px;
    font-size: 20px;
}
.gallery a{
    text-decoration:underline;
    color: black;
    font-size: 1em;
}
.gallery a:hover{
    color: blue;
}

.datascience{
    display: inline-flex;
    justify-content:space-evenly;
    align-items: flex-start;
    margin-left: 70px;
    margin-top: 50px;
}
.courses button{
    height: 60px;
    width: 150px;
    border-radius: 30px;
    font-size: 20px;
    background-color: rgb(170, 183, 184);
}
.courses{
    background-color:rgb(229, 231, 233);
    height: 120vh;
    width: 100%;
}
.courses button:hover{
    background-color:rgb(153, 163, 164);
}
.container{
    display: flex;
    justify-content:space-evenly;
    align-items:center;
    height: 80vh;
    width: 100%;
    flex-wrap: wrap;
    color: deeppink;
}
.chatgpt1{
    height: 55vh;
    width: 43vh;
    border: 1px solid grey;
    border-radius: 10px; 
    box-shadow: 3px 3px 8px gray,-3px -3px 8px gray;
    /* flex-wrap: wrap;
      justify-content: center; 
     align-items: center;  */ 
}
.chatgpt2{
    height: 55vh;
    width: 43vh;
    border: 1px solid grey;
    box-shadow:3px 3px 8px gray,-3px -3px 8px gray;   
    border-radius: 10px;
    /* flex-wrap: wrap; */
    /* justify-content: center;
    align-items: center; */
}
.chatgpt3{
    height: 55vh;
    width: 43vh;  
    border: 1px solid grey;
    box-shadow:3px 3px 8px grey,-3px -3px 8px gray;   
    border-radius: 10px;
    /* flex-wrap: wrap; */
    /* justify-content: center; 
     align-items: center; */
}
.chatgpt4{
    height: 55vh;
    width: 43vh;
    border: 1px solid grey; 
    box-shadow:3px 3px 8px gray,-3px -3px 8px gray;
    border-radius: 10px;
    /* flex-wrap: wrap; */
    /* justify-content: center; 
     align-items: center; */
}
.container h3{
display: flex;
justify-content:center;
align-items: center;
padding: 10px;
}
#photo{
    border-radius: 10px 10px  0px 0px ;
    display: flex;
    
    
}
.All{
    display: flex;
    justify-content:space-evenly;
    align-items: flex-start;
    align-content: space-between;
}
#allcourses{
    border-radius: 10px;
    width: 200px;
}
/* .companies{
     position: relative; 
    top: 0px; 
} */
#company { 
     /* display: grid;
     grid-template-columns:1px 1px 1px 1px 1px 1px 1px 1px;  
    
     align-content: center;
    justify-content: space-evenly;
    align-items: baseline;
    justify-items: stretch;
    grid-column-gap: 5px;
     */
     /* position:absolute; */
     display:inline-block;
 }

 #company svg{
height: 100px;
width: 130px;
 /* position: relative;  */
top: 0px;
 } 
 
  /* .card1{
    height: 500px;
    width: 400px;
    border: 1px solid rgb(7, 254, 254);
     position:absolute;  
    z-index: 6;
    /* top: 20px;
    left: 30px; 
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 255, 255, 0.234),-3px -3px 5px rgba(0, 255, 255, 0.234);
    background-color: rgb(113, 176, 176);
    
 }
  .card2{
    height: 500px;
    width: 400px;
    border: 1px solid aqua;
      position: absolute;  
    z-index: 5;
    transform: rotate(10deg);
     top: 30px;
    left: 40px; 
    background-color: rgb(0, 106, 255);
    border-radius: 10px;
    box-shadow: 3px 3px 5px aqua,-3px -3px 5px aqua;
 }
 .card3{
    height: 500px;
    width: 400px;
    border: 1px solid aqua;
      position: absolute;  
    z-index: 3;
    transform: rotate(15deg);
     top: 40px;
    left: 50px; 
    background-color: rgb(140, 0, 255);
    border-radius: 10px;
    box-shadow: 3px 3px 5px aqua,-3px -3px 5px aqua;
 }
 .card4{
    height: 500px;
    width: 400px;
    border: 1px solid aqua;
      position:absolute;  
    z-index:2;
    transform: rotate(20deg);
     top: 50px;
    left: 60px; 
    background-color: rgb(0, 255, 128);
    border-radius: 10px;
    box-shadow: 3px 3px 5px aqua,-3px -3px 5px aqua;
 }
 .card5{
    height: 500px;
    width: 400px;
    border: 1px solid aqua;
     position: absolute;  
    z-index: 1;
    transform: rotate(25deg);
     top: 60px;
    left: 70px; 
    border-radius: 10px;
    box-shadow: 3px 3px 5px aqua,-3px -3px 5px aqua;
    background-color: rgb(162, 0, 255);
 }
 .card6{
    height: 500px;
    width: 400px;
    border: 1px solid aqua;
     position: absolute;  
    z-index:0 ;
    transform: rotate(30deg);
     top: 70px;
    left: 80px; 
    background-color: rgb(183, 255, 0);
    border-radius: 10px;
    box-shadow: 3px 3px 5px aqua,-3px -3px 5px aqua;
 } 
 .card{
     position:relative;  

    justify-content: center;
    height: 100dvh;
     left:700px;   
 }
  .learners{
  position: relative;  
  top: 100px;   
  border: 2px solid black;
 } 
 .card img{
    border-radius: 10px;
 }
 .card1:hover{
    transform: rotate(-10deg);
    transition: 1s;
 }
  .card2:hover{
    transform: rotate(-10deg);
    transition: 1s;
 }
 
 .card3:hover{
    transform: rotate(-10deg);
    transition: 1s;
 }
 .card4:hover{
    transform: rotate(-10deg);
    transition: 1s;
 }
 .card5:hover{
    transform: rotate(-10deg);
    transition: 1s;
 }
 .card6:hover{
    transform: rotate(-10deg);
    transition: 1s;
 }  
  .card:hover{
    transform: rotate(10deg);
    transition: 1s;
 } */
  .learners{
    background-color:beige;
  }
  .card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 600px 600px;
   
    justify-items: center;
    align-items: center;
    
  }
  .card1{
    height: 500px;
    width: 401px;
    border: 2px solid rgb(12, 20, 231);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    border-radius: 30px 5px 30px 5px;
    box-shadow: 4px 4px 9px blue;
    
  }
  .card2{
    height: 500px;
    width: 401px;
    border: 2px solid rgb(12, 20, 231);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 30px 5px 30px 5px;
    box-shadow: 4px 4px 9px blue;
  }
  .card3{
    height: 500px;
    width: 401px;
    border: 2px solid rgb(12, 20, 231);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 30px 5px 30px 5px;
    box-shadow: 4px 4px 9px blue;
  }
  .card4{
    height: 500px;
    width: 401px;
    border: 2px solid rgb(12, 20, 231);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 30px 5px 30px 5px;
    box-shadow: 4px 4px 9px blue;
  }
  .card5{
    height: 500px;
    width: 401px;
    border: 2px solid rgb(12, 20, 231);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 30px 5px 30px 5px;
    box-shadow: 4px 4px 9px blue;
  }
  .card6{
    height: 500px;
    width: 401px;
    border: 2px solid rgb(12, 20, 231);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 30px 5px 30px 5px;
    box-shadow: 4px 4px 9px blue;
  }
  .card img{
    border-radius: 30px 5px 0px 0px;
  }
.line{
    margin-left: 150px;
}
footer{
    background-color: black;
    height: 900px;
    width: 100%;
    color: wheat;
}
p{
   
    font-size: 2em;
    text-align: center;
    padding-top: 90px;
}
footer svg{
    display:inline-block;
    width: 200px;
    
}
footer span{
    display: flex;   
}
.dot{
    margin-top: -80px;
}
footer marquee{
    width: 600px;
   margin-left: 500px;
}
footer a{
    color: aliceblue;
    /* display: block; */
    text-decoration: none;
    font-size: 20px;
    line-height:30px;
}
.certification{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    justify-content: space-around;
    justify-items: center;
    margin-top: 100px;
}
footer h2{
    font-size: 25px;
}
footer h1{
    padding-left: 40px;
    margin-top: 30px;
}
footer a:hover{
    text-decoration: underline;
}